**/log.txt
*.log
/__pycache
**/__pycache__
/*.vcd
**/*.vcd 
**/.vscode
*.vscode
**/*.so
**/*.o
*.so
*.o

verilog/structured/**/*.v
verilog/base/**/*.v

synthesis/**/*.v

misc/

optimization/verilog/*
optimization/sdf/*
optimization/size_data/*

simulation/tb*
simulation/pintool/obj-intel64/MyPinTool.so
simulation/pintool/obj-intel64/MyPinTool.o
simulation/pintool/operands_output.txt

report_out
**/script.tcl